body {
  background: white;
}
.canvas {
  padding-top: 50px;
  padding-left: 50px;
  position: relative;
  width: 100%;
  flex-flow: column wrap;
  text-align: center;
}
.cone,
.ice-cream {
  margin: 0 auto;
}
.ice-cream {
  z-index: 40;
  display: inline-block;
}
.scoop {
  position: relative;
  transform: rotate(-135deg);
}
._1 {
  height: 100px;
  width: 100px;
  z-index: 30;
  .circle,
  .burst-12,
  .burst-12:after,
  .burst-12:before {
    background: green;
  }
}
._2 {
  top: -40px;
  height: 110px;
  width: 110px;
  z-index: 20;
  .circle,
  .burst-12,
  .burst-12:after,
  .burst-12:before {
    background: yellow;
  }
}
._3 {
  top: -80px;
  height: 120px;
  width: 120px;
  z-index: 10;
}
.circle {
	width: 100%;
	height: 100%;
	background: red;
	border-radius: 50%;
}
.burst-12 {
  background: red;
  width: 80%;
  height: 80%;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.burst-12:before, .burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: red;
  border-radius: 10px;
}
.burst-12:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.burst-12:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}
.cone {
  z-index: 5;
  position: relative;
  top: -143px;
  width: 0;
  height: 0;
  border-left: 85px solid transparent;
  border-right: 85px solid transparent;
  border-top: 190px solid #DDBB74;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
