$background: #F8FCDA;
$dragonfruit: #EB5B99;
$seed: #272727;

*, *::before, *::after{
	box-sizing: border-box;
}

%pseudo_base{
	content: '';
	display: block;
	position: absolute;
}

@mixin seed($t, $l, $r){
	top: $t;
	left: $l;
	transform: rotate($r);
}

body{
	background: $background;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container{
	position: relative;
	width: 15rem;
	height: 23rem;
	& > *{
		position: absolute;
	}
	.dragonfruit__steam{
		width: 3rem;
		height: 5.5rem;
		left: 6rem;
		background: linear-gradient(#95BF74, $dragonfruit);
		border-radius: 0 1rem 0 0 ;
		&::before, &::after{
			@extend %pseudo_base;
			width: 3.5rem;
			height: 5.5rem;
			background: $background;
		}
		&::before{
			top: 0rem;
			left: -1.75rem;
			transform: rotate(-10deg);
			border-radius: 0 0rem 100% 0rem;
		}
		&::after{
			top: 0.5rem;
			right: -2.45rem;
			border-radius: 100% 0 100% 0;
			transform: rotate(-35deg);
		}
	}
	.dragonfruit__main{
		z-index: 5;
		bottom: 0;
		width: 100%;
		height: 18rem;
		border: 1rem solid $dragonfruit;
		border-radius: 100%;
		background: white;
		.seed{
			position: absolute;
			width: 0.75rem;
			height: 0.75rem;
			background: $seed;
			border-radius: 100% 100% 0 100%
		}
		.seed:nth-of-type(1){ @include seed(2.5rem, 2.5rem, 0deg); }
		.seed:nth-of-type(2){ @include seed(5rem, 5.5rem, -160deg); }
		.seed:nth-of-type(3){ @include seed(1.5rem, 6.5rem, 93deg); }
		.seed:nth-of-type(4){ @include seed(4rem, 10rem, -196deg); }
		.seed:nth-of-type(5){ @include seed(7rem, 1.5rem, -65deg); }
		.seed:nth-of-type(6){ @include seed(9rem,11rem, 93deg); }
		.seed:nth-of-type(7){ @include seed(7.5rem, 8rem, -10deg); }
		.seed:nth-of-type(8){ @include seed(10rem, 5.75rem, -60deg); }
		.seed:nth-of-type(9){ @include seed(11.5rem, 2.5rem, -30deg); }
		.seed:nth-of-type(10){ @include seed(12.5rem, 9.5rem, 3deg); }
		.seed:nth-of-type(11){ @include seed(14rem, 5.5rem, -90deg); }
	}
	
	.spike{
		z-index:1;
		position: absolute;
		width: 3rem;
		height: 8rem;
		background: linear-gradient(#95BF74, $dragonfruit);
		border-radius: 100% 0% 100% 5%;
		&::before{
			@extend %pseudo_base;
			width: 2rem;
			height: 6rem;
			border-radius: 100% 0% 100% 0%;
			background: $background;
			left: 1.75rem;
			top: 0rem;
			transform: rotate(-6deg);
		}
	}
	.spike:nth-child(3){
		top: 6rem;
		left: -0.75rem;
		transform: rotateZ(-10deg);
	}
	.spike:nth-child(4){
		top: 4rem;
    left: 11.75rem;
    transform: rotateY(-180deg) rotateZ(1deg);
	}
	.spike:nth-child(5){
		top: 13rem;
    left: -0.75rem;
    transform: rotateZ(-46deg);
    z-index: -1;
	}
	.spike:nth-child(6){
		    top: 11rem;
    left: 13.5rem;
    transform: rotateY(-180deg) rotateZ(-37deg);
    z-index: -1;
	}
}
